/* tabs styles */

body {
position:absolute;
top:0;
left:0;
border:0;
margin:0;
padding:0;
width:100%;
height:100%;
}

#nav {
border:0;
margin:0;
padding:0;
margin-top:1ex;
margin-bottom:2em;
}

.tabs, .tabs2, .tabs3 {
width:100%;
height:2em;
margin:0;
border:0;
padding:0;
clear:right;
}

.tabs {
border-bottom:3px ridge #005D5D; /* 75AAEB */
}

.tablist {
float:left;
display:inline;
border:0;
padding:0;
margin:0;
list-style-type:none;
width:100%;
height:2em;
}

#navrow1 .tablist {
margin-bottom:1em;
}

#navrow2 .tablist, #navrow3 .tablist, #navrow4 .tablist {
background-color:#7FEFEF; /* AAC5EB */
background-image:-moz-linear-gradient(90deg,#3FCFCF,#CFFFFF); /* 88A1DD CFE8F1 */
background-image:-webkit-gradient(linear,center bottom,center top,color-stop(0,#3FCFCF),color-stop(1,#CFFFFF));
background-image:linear-gradient(#CFFFFF,#3FCFCF);
}

.tablist li {
display:table;
padding:0 1ex;
margin:0;
border:0;
border-left:1px solid #007F7F; /* 4488DD */
height:2em;
float:left;
text-align:center;
vertical-align:middle;
background-color:#DFFFFF; /* EBEBFF */
background-image:-moz-linear-gradient(90deg,#CFFFFF,#EFFFFF); /* DDDDFF FAFAFF */
background-image:-webkit-gradient(linear,center bottom,center top,color-stop(0,#CFFFFF),color-stop(1,#EFFFFF));
background-image:linear-gradient(#EFFFFF,#CFFFFF);
}

#navrow1 li {
width:14ex;
border:2px ridge #DFFFFF; /* EBEBFF */
border-bottom:none;
-moz-border-radius-topleft:1.5ex;
-webkit-border-top-left-radius:1.5ex;
-o-border-top-left-radius:1.5ex;
border-top-left-radius:1.5ex;
-moz-border-radius-topright:1.5ex;
-webkit-border-top-right-radius:1.5ex;
-o-border-top-right-radius:1.5ex;
border-top-right-radius:1.5ex;
}

.tablist li.current {
color:#FFFFFF; /* CCCCFF */
background-color:#005D5D; /* 75AAEB */
background-image:-moz-linear-gradient(90deg,#007F7F,#3FFFFF); /* 4488DD ACCFFA */
background-image:-webkit-gradient(linear,center bottom,center top,color-stop(0,#007F7F),color-stop(1,#3FFFFF));
background-image:linear-gradient(#3FFFFF,#007F7F);
}

#navrow1 li.current {
height:2.2em;
border-top:3px ridge #005D5D; /* 75AAEB */
border-left:3px ridge #005D5D; /* 75AAEB */
border-right:3px ridge #005D5D; /* 75AAEB */
}

.tabs li:hover, .tabs2 li:hover, .tabs3 li:hover {
background-color:#FFDDA6; /* FFDDA6 */
background-image:-moz-linear-gradient(90deg,#FFBB7C,#FFF4CE); /* FFBB7C FFF4CE */
background-image:-webkit-gradient(linear,center bottom,center top,color-stop(0,#FFBB7C),color-stop(1,#FFF4CE));
background-image:linear-gradient(#FFF4CE,#FFBB7C);
}

.tabs li.current:hover, .tabs2 li.current:hover, .tabs3 li.current:hover {
background-color:#E1A659; /* E1A659 */
background-image:-moz-linear-gradient(90deg,#C17C22,#FFCE8D); /* C17C22 FFCE8D */
background-image:-webkit-gradient(linear,center bottom,center top,color-stop(0,#C17C22),color-stop(1,#FFCE8D));
background-image:linear-gradient(#FFCE8D,#C17C22);
}

.tabs a, .tabs2 a, .tabs3 a {
display:table-cell;
padding:0;
margin:0;
border:0;
height:100%;
vertical-align:middle;
text-decoration:none;
color:#000033;
}

.tabs a:hover, .tabs2 a:hover, .tabs3 a:hover {
display:table-cell;
padding:0;
margin:0;
border:0;
height:100%;
vertical-align:middle;
text-decoration:none;
color:#000033;
}

.tabs .current a, .tabs2 .current a, .tabs3 .current a {
color:#FFFFFF;
}

/* Commented Backslash Hack hides rule from IE5-Mac \*/
.tabs span {float:none;}
/* End IE5-Mac hack */

.summary {
margin-top:-0.5em;
text-align:right;
width:100%;
font-size:11pt;
}

.summary a {
color:#007F7F;
}

.navpath {
width:100%;
line-height: 140%;
background-color:#FFFFFF;
border:0;
border-bottom:2px ridge #007F7F; /* 4488DD */
text-align:left;
margin:1em 0;
padding:2px 0;
height:100%;
float:left;
}

.navpath a {
color:#007F7F;
}

div.navtab {
background-color: #DFFFFF; /* EBEFF6 */
border: 1px solid #84C7C7; /* A3B4D7 */
margin: 2px;
padding: 2px;
}

td.navtab {
font-size: 70%;
}

/*.title {
font-size:20pt;
margin-bottom:1em;
}*/

div.ah {
background-image:-webkit-gradient(linear, left top, left bottom, from(#EEEEEE), to(#007F7F),color-stop(0.3, #337F7F));
background-image:-moz-linear-gradient(center top, #EEEEEE 0%, #337F7F 33%, #007F7F);
}

div.contents {
overflow-y:auto;
}

/*
.search {
  color: #003399;
  font-weight: bold;
}

form.search {
  margin-bottom: 0px;
  margin-top: 0px;
}

input.search {
  font-size: 75%;
  color: #000080;
  font-weight: normal;
  background-color: #e8eef2;
}
*/

/* @group Member Details */

/* these are for tree view when not used as main index */

.navpath {
  background-color:#FFF7EE; /* FFDDA6 */
  background-image:-moz-linear-gradient(90deg,#FFEEDD,#FFFFFF); /* FFBB7C FFF4CE */
  background-image:-webkit-gradient(linear,center bottom,center top,color-stop(0,#FFEEDD),color-stop(1,#FFFFFF));
  background-image:linear-gradient(#FFFFFF,#FFEEDD);
}

.navpath ul {
  background-image:none;
  background-position: 0 0;
  border:0;
}

.navpath li.navelem a
{
  color:#000000;
}

div.header
{
  background-image:-moz-linear-gradient(90deg,#FFEECC,#FFF6E3); /* FFBB7C FFF4CE */
  background-image:-webkit-gradient(linear,center bottom,center top,color-stop(0,#FFEECC),color-stop(1,#FFF6E3));
  background-image:linear-gradient(#FFF6E3,#FFEECC);
  background-color: #FFF6E3;
  margin:  0px;
  border-bottom: 2px ridge #FF9933;
}

h2.groupheader {
  border-bottom: 2px ridge #879ECB;
}

table.directory {
width:100%;
}

.directory tr.even {
  background-color: #FFF6E3;
}

td.entry {
width:50%;
margin:0;
padding:0;
border:0;
}

.mdescLeft, .mdescRight,
.memItemLeft, .memItemRight,
.memTemplItemLeft, .memTemplItemRight, .memTemplParams {
  background-color: #FFF6E3;
}

.memtitle {
  border-top: 1px solid #A8B8D9;
  border-left: 1px solid #A8B8D9;
  border-right: 1px solid #A8B8D9;
  background-image: none;
  background-color: #FFF6E3;
}

.memnav {
  background-color: #FFF6E3;
  border: 1px solid #A3B4D7;
}

.memproto, dl.reflist dt {
  border-top: 1px solid #A8B8D9;
  border-left: 1px solid #A8B8D9;
  border-right: 1px solid #A8B8D9;
  color: #253555;
  background-color: #FFF6E3;
}

span.lineno {
  border-right: 2px solid #FF9933;
}

/* footer */

body#local .doxygenfooter {
border:0;
border-top:1px solid #AAAAAA; /* AAAAAA */
margin:0;
padding:5px 0;
width:100%;
clear:both;
}

body#local .doxygenfooter span {
border:0;
margin:0;
padding:0;
padding-left:2ex;
}

/* footer for web version */
img.doxyfooterimg {
vertical-align:middle;
height:1.1em;
border:0;
margin:0;
padding:0;
}

table.framed {
border:1px solid #000000;
padding:0;
margin:0;
border-spacing:0;
border-collapse:collapse;
}

table.framed tr, table.framed td {
border:1px solid #000000;
}

table.framed td {
padding:0 1ex;
}

.framed .subtitle {
text-align:center;
padding:0.5em 1ex;
}

.contents .logo {
text-align:center;
}

.contents .logo img {
width:30ex;
}

.contents .doxtable {
border-collapse:collapse;
margin-left:5ex;  
}

.contents .doxtable, .contents .doxtable tr, .contents .doxtable td, .contents .doxtable th {
border:1px solid #000000;
padding:0 2ex;
text-align:center;
}
